/* Start Box */
.d-flex {
    display: flex;
}
/* End Box */

/* Start Padding + Margin */

/* End Padding + Margin */

/* Start Color */

/* End Color */

/* Start Position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End Position */

/* Start Font */

/* End Font */

/* Start Border */

/* End Border */

/* Start Width + Height */
/* End Width + Height */

/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End Components */